# Ignore bundler config
/.bundle

# Ignore the build directory
/build

# Ignore Sass' cache
/.sass-cache

# Ignore .DS_store file
.DS_Store

# Ignore NPM debug
.npm-debug.log

# Ignore Bower Folder
/bower_components
